:host {
  display: block;
}
.page-header > .badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 12px;
  background: white;
  border: 1px solid #e4e9ee;
}
.page-header .badge emx-icon {
  width: 16px;
  height: 16px;
}
.production-bottom {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
.production-bottom > p {
  max-width: 480px;
  font-size: 11px;
  color: #617184;
}
@media (max-width: 1000px) {
  .production-bottom {
    flex-direction: column;
    gap: 16px;
  }
}
